@using InternetShop.ViewModels
@model ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

@{
    int startPage = Model.PageNumber - 5;
    int endPage = Model.PageNumber + 5;

    if (startPage < 1)
    {
        endPage -= (startPage - 1);
        startPage = 1;
    }

    if (endPage > Model.TotalPages)
    {
        endPage = Model.TotalPages;
    }

    var checkedTypes = ViewBag.checkedTypes;
    var productName = ViewBag.productName;
    var sortMethod = ViewBag.sortMethod;
}

<style>

    main{
        min-height:100%;
        height:100%;
    }

    input[type="text"] {
        /* Define your styles here */
        width: 500px; /* Example width */
        height: 30px; /* Example height */
        padding: 5px 10px; /* Example padding */
        border: 2px solid #0FA3B1; /* Example border */
        border-radius: 30px; /* Example border radius */
        background-color: #f2f2f2; /* Example background color */
        font-size: 16px; /* Example font size */
        color: #333; /* Example text color */
    }

    .prod-img{
        max-height:260px;
        max-width:300px;
        width: fit-content;
        height: fit-content;
    }


    .card{
        height:100%;
    }

    button{
        border: 0;
        background: none;
    }

    .btn-apply {
        background-color: #ff9b42;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        text-align: center;
        color: white;
        width:100%;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 18px;
        border: 3px solid transparent;
    }

        .btn-apply:hover,
        .btn-apply:focus {
            outline: none !important;
            box-shadow: none !important;
            border-color: #fa8b28;
            color: #ffffff;
        }

        .btn-apply:active {
            color: #F1F0EA;
        }

    .dropbtn {
        background-color: none;
        border-radius: 10px 10px 0 0;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background: #f1f1f1;
    }

</style>
    
<div class="main-frame">
    <div class="sidenav">
        <form class="filter-bar" asp-action="index" method="get">
            @foreach (var item in Model.Categories)
            {
                <div class="ctgr">
                    @if (checkedTypes != null && checkedTypes.Contains(item.Id))
                    {
                        <input name="categoryId" type="checkbox" class="form-check-input" id="flexCheckDefault_@item.Id" value="@item.Id" checked />
                    }
                    else
                    {
                        <input name="categoryId" type="checkbox" class="form-check-input" id="flexCheckDefault_@item.Id" value="@item.Id" />
                    }
                    <label class="form-check-label" for="flexCheckDefault_@item.Id">@item.Name</label>
                </div>
            }
            <br />
            <input value="@sortMethod" name="sortMethod" hidden />
            <button class="btn-apply" type="submit">Apply</button>
            @if (checkedTypes != null)
            {
                <a class="text-danger text-center" style="text-decoration-style: dotted; margin-top: 15px" href="@Url.Action("Index", new { productName, sortMethod})">Clear filter</a>
            }
        </form>
    </div>

    <div class="products-frame">
        <form asp-action="Index" method="get" class="search-frame">
            <input name="productName" type="text" value="@productName" />
            <button type="submit">
                <img src="~/images/search.png"
                     width="30"
                     height="30" />
            </button>

            <div class="dropdown">
                <button class="dropbtn" type="button">
                    <img src="~/images/filter.png"
                         width="30"
                         height="30" />
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("Index", new { productName, categoryId = checkedTypes, sortMethod = "priceDESC" })">Price DESC</a>
                    <a href="@Url.Action("Index", new { productName, categoryId = checkedTypes, sortMethod = "priceASC" })">Price ASC</a>
                    <a href="@Url.Action("Index", new { productName, categoryId = checkedTypes, sortMethod = "nameDESC" })">Name DESC</a>
                    <a href="@Url.Action("Index", new { productName, categoryId = checkedTypes, sortMethod = "nameASC" })">Name ASC</a>
                </div>
            </div>


        </form>

        <div class="row row-cols-1 row-cols-md-3 g-4 padding_top">
            @foreach (var item in Model.Items)
            {
                <a asp-action="Details" asp-route-id="@item.Id" class="nav-link" style="color:black">
                    <div class="col">
                    <div class="card">
                        <div class="card-img">
                            @if (item.Images[0].Url.Contains("http"))
                            {
                                <img src="@item.Images[0].Url" class="prod-img" alt="...">
                            }
                            else
                            {
                                <img src="@Url.Content($"~/ProductImages/{@item.Images[0].Url}")" class="prod-img" />
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>@item.Name</b></h5>
                            <p class="card-text">@item.Price UAH</p>
                        </div>
                    </div>
                </div>
                </a>
            }
        </div>
        <br /><br />
        <div class="pagination-frame">
            @if (Model.PageNumber > 1)
            {
                <a href="@Url.Action("Index", new { sortMethod = sortMethod, productName, categoryId = checkedTypes, page = 1 })">&lt;&lt;</a>
                <a href="@Url.Action("Index", new { sortMethod = sortMethod, productName, categoryId = checkedTypes, page = Model.PageNumber - 1 })">&lt;</a>
            }

            @for (var i = startPage; i <= endPage; i++)
            {
                <a href="@Url.Action("Index", new { sortMethod = sortMethod, productName, categoryId = checkedTypes, page = i })" class="@(i == Model.PageNumber ? "active-page" : "")">@i</a>
            }

            @if (Model.PageNumber < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { sortMethod = sortMethod, productName, categoryId = checkedTypes, page = Model.PageNumber + 1 })">&gt;</a>
                <a href="@Url.Action("Index", new { sortMethod = sortMethod, productName, categoryId = checkedTypes, page = Model.TotalPages })">&gt;&gt;</a>
            }
        </div>
    </div>
</div>


