@model InternetShop.Models.Orders

@{
    ViewData["Title"] = "Order Status";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-8 col-xl-4 rounded p-4">
            <h4 class="text-center mb-3" id="registration-heading">Order status</h4>
            @foreach (var orderProduct in Model.OrdersProducts)
            {
                <div class="mb-3">
                    <span>@orderProduct.Products.Name</span><br />
                    <strong>Quantity:</strong> @orderProduct.Quantity<br />
                    <strong>Price:</strong> @orderProduct.Orders.TotalPrice<br />
                    <strong>Date:</strong> @orderProduct.Orders.Date<br />
                    <strong>Delivery Address:</strong> @orderProduct.Orders.DeliveryAddress<br />
                    <strong>Delivery Type:</strong> @orderProduct.Orders.Delivery.DeliveryType
                </div>

                <section class="step-wizard">
                    <ul class="step-wizard-list">
                        <li class="step-wizard-item @if(@orderProduct.Status == 0) {
                    <text>current-item</text>
 }">
                            <span class="progress-count">1</span>
                            <span class="progress-label">Confirm</span>
                        </li>
                        <li class="step-wizard-item @if(@orderProduct.Status == 1) {
                    <text>current-item</text>
 }">
                            <span class="progress-count">2</span>
                                <span class="progress-label">Sent</span>
                        </li>
                        <li class="step-wizard-item @if(@orderProduct.Status == 2) {
                    <text>current-item</text>
 }">
                            <span class="progress-count">3</span>
                            <span class="progress-label">In transit</span>
                        </li>
                        <li class="step-wizard-item @if(@orderProduct.Status == 3) {
                    <text>current-item</text>
 }">
                                <span class="progress-count">4</span>
                                <span class="progress-label">@if (@orderProduct.Status == 5)
                                {
                                    <div style="color: red;"><text>Failed to deliver</text></div>
                                }
                                else if (@orderProduct.Status == 6)
                                {
                                    <div style="color: red;"><text>Canceled</text></div>
                                }
                                else if (@orderProduct.Status == 7)
                                {
                                    <div style="color: red;"><text>Returned</text></div>
                                }
                                else if (@orderProduct.Status == 4)
                                {
                                    <div style="color: green;"><text>Received</text></div>
                                }
                            </span>
                        </li>
                    </ul>
                </section>
                <div class="text-center">
                    @{
                        Dictionary<int, string> statusMessages = new Dictionary<int, string>
                {
                { 0, "The order has been registered in the system, but its processing has not yet started" },
                { 1, "The order is being processed and prepared for shipment" },
                { 2, "The order is in the process of transportation between the places of departure and destination" },
                { 4, "The order was successfully received to the recipient's address" },
                { 5, "The delivery was not successful for various reasons, such as incorrect address, missing recipient or other problems" },
                { 6, "You canceled the order" }
                };

                        int status = @orderProduct.Status;
                        string message = statusMessages.ContainsKey(status) ? statusMessages[status] : "The order was returned to the sender for various reasons, for example, due to the inability to contact the recipient or the request to cancel the order.";
                    }
                    <div class="alert alert-success">
                    <small>@message</small>
                    </div>
                    </div>
            }
            <div class="mt-3 text-center">
                <a class="btn btn-sm btn_edit_password" asp-action="Index">Back to UserPage</a>
            </div>
        </div>
    </div>
</div>
