@using InternetShop.ViewModels
@model CartViewModel
<head>
    <script>
        function redirect() {
            window.location.href = '@Url.Action("RedirectToOrder", "Basket")';
        }
    </script>
</head>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5 col-md-6 rounded p-4">
            <h4 class="text-center mb-3 basket-heading">Your cart</h4>
            @if(Model.Items.Count == 0)
            {
                <h5 class="text-center">No products in cart</h5>
                <br/>
            }
            else
            {
                @foreach (var item in Model.Items)
                {
                    <div class="product-container">
                        <h5>@item.ProductName</h5>
                        <div style="display: flex; flex-direction:row; gap:10px; padding-left: 30px; align-items:center">
                            <h5>@item.Price.ToString("0.##") UAH</h5>
                            @{
                                string quantity = $"x{item.Quantity}";
                            }
                            <h5>@quantity</h5>
                            <form asp-action="Delete" method="post">
                                <input name="cartsProductsId" value="@item.Id" hidden />
                                <button type="submit" class="btn-del">
                                    X
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <div class="text-end" style="margin-bottom: 20px">
                    <h5>Total: @Model.TotalPrice</h5>
                </div>
                <button class="btn-buy" onclick="redirect()">Buy</button>
                
            }

        </div>
    </div>
</div>

<style>
    h5 {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-container {
        height: 60px;
        background-color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .p-4 {
        padding: 1.5rem 60px !important;
    }

    .basket-heading {
        text-align: center;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        color: #333;
        letter-spacing: 1px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .btn-buy {
        background-color: #ff9b42;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        width: 120px;
        text-align: center;
        color: white;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 20px;
        border: 3px solid transparent;
    }

        .btn-buy:hover,
        .btn-buy:focus {
            outline: none !important;
            box-shadow: none !important;
            border-color: #fa8b28;
            color: #ffffff;
        }

        .btn-buy:active {
            color: #F1F0EA;
        }

    .btn-del {
        background: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        color: red;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        font-size: 20px;
        border: none;
    }

        .btn-del:hover,
        .btn-del:focus {
            outline: none !important;
            box-shadow: none !important;
            color: orange;
        }

</style>